body {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-background-size:100%;
    background-size:100%;
}

.navbar {
    margin-bottom: 20px;
}

.wrapper{
    margin-top: 50px;
}

.nav-image{
    width: 30px;
    height: 30px;
}

